.catalogItem {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-size: auto;
    vertical-align: middle;
    border-style: none;
    border-radius: 4px 0px 4px 0px;
  }
}

//@media screen and(max-width: 768px) {
//  .catalogItem {
//    img {
//      display: block;
//      width: 100%;
//      height: 100%;
//      object-fit: fill;
//      background-size: auto;
//      vertical-align: middle;
//      border-style: none;
//      border-radius: 4px;
//    }
//  }
//}