.suggestionItem {
  .cardInfo {
    width: 18rem;
    border: 1px solid #DADADA;

    &:hover {
      //border-radius: 50%;
      box-shadow: 0 0 50px #ccc;    }
  }
}
@media only screen and (max-width: 768px) {
  .suggestionItem {
    margin-bottom: 16px;
    .cardInfo {
      width: 25rem;
    }
  }
}