body {
  font-family: Nunito, serif;
  margin: 0 auto;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: scroll;
}

html {
  height: -webkit-fill-available;
}

html, body {
  overflow-x: hidden;
}

.homepage {
  box-sizing: border-box;
  overflow-x: hidden;
  background: #FFFFFF;
}

.searchInput {
  float: right;
  margin-right: 14px;
  margin-top: -26px;
  position: relative;
  z-index: 2;
  color: #000000
}

@media only screen and (max-width: 768px) {
  .footer-mobile {
    text-align: center;
    margin-bottom: 10px;
  }
  .footer-m {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .mobileNavbar {
    background-color: #05A8E6;
    z-index: 99999999999;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    padding-left: 10px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-disabled {
  cursor: not-allowed;
}

.font-black {
  color: #000000
}

.font-white {
  color: #FFFFFF
}

.font-yellow {
  color: #FFD700
}

.font-blue {
  color: #05A8E6
}

.font-red {
  color: #ED254E
}

.background-black {
  background-color: #000000
}

.background-white {
  background-color: #FFFFFF
}

.background-yellow {
  background-color: #FFD700
}

.background-blue {
  background-color: #05A8E6
}

.background-red {
  background-color: #ED254E
}


.rounded-corners {
  border-radius: 4px;
}

.dropdown-item {
  &:hover {
    background-color: transparent !important;
  }
}

.page-link {
  color: #05A8E6 !important;
}

.ReactModal__Overlay {
  z-index: 9999999;
}

.icon-red {
  --icon-color: red;
}

.cardShadow {
  &:hover {
    //border-radius: 50%;
    box-shadow: 0 0 50px #ccc;
  }
}